<div id="main-wrapper">
  <!-- Header component -->
  <admin-header />
  <!-- Sidebar component -->
  <admin-sidebar />
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs component -->
      <admin-breadcrumbs />

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- Routes system -->
              <router-outlet />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer component -->
    <admin-footer />
  </div>
</div>